/*$main-position: absolute, top 80px;*/
    
.editor-name{
    position: absolute;
    left:120px;
    top:60px;
    font-weight: bolder;
     
}  

img.editor{
    height: 10%;
    border-radius:50%;
    position:absolute;
    left: 50px;
    top: 60px;

    }

.perfil{
    height: 25px;
    width: 25px;
    border-radius:50%;
    position:relative;
    top:-50px;
    right: -10px;

}

