$main-font-color: #f3f4f8;

$second-font-color:#745ef3;

$three-font-color:#ea7a90;

$four-font-color:#97969d;

$main-background-color:  #ea7a90;

$second-background-color:#d4dae6;

$three-backgraund-color:#f3f4f8;

$four-backgraund-color:#e0e0ea;

$main-font-family:'Nunito Sans'; 

$main-font-size:11px;

$second-font-size:8px;

$card-width:150px;

$card-heigth:200px;

$card-padding:20px;
$card-border-radius:1%;

$main-align-items:center;




